body {
    background-color: #B91450;
    height: 100vh;
}
.border-radius {
    border-radius: 5px;
}
input[type=text], input[type=number], select {
    border: 2px solid #E4A6BD;
}
.pink-text {
    color: #C63F70;
}
.bottone-menu {
    background-color: #cccccc;
    color: #BA1F57;
    font-weight: bold;
    border: 1px solid black;
}
.bottone-menu:hover {
    border: 1px solid #E99850;
}
.sezione-biglietto{
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080;
}
.bg-grey {
    background-color: #808080;
}
.bordi {
    border: 2px solid black;
}